<app-navbar></app-navbar>

<app-sidebar>
  <div class="contenedor">
    <app-titulo-seccion [title]="'Recursos'"></app-titulo-seccion>
    <app-msg-recursos></app-msg-recursos> 
    
    <div class="cuerpoRecursos">
      <app-menurecursos></app-menurecursos>

      <div class="contLegal">
        <mat-card class="example-card">        
          <mat-card-header>
            <mat-card-title class="titleCardLegal">Definiciones</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="descLegal">Aqui encontrarás algunas definiciones o información legal que te puede ser de utilidad</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="btnVerMas">Ver más</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">        
          <mat-card-header>
            <mat-card-title class="titleCardLegal">Leyes</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="descLegal">Aqui encontraras algunas leyes en contra de la violencia</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="btnVerMas">Ver más</button>
          </mat-card-actions>
        </mat-card>
      </div>

      
      
      
    </div>
  </div>
</app-sidebar>


