<app-navbar></app-navbar>

<app-sidebar>
  <div class="contenedor">
      <app-titulo-seccion [title]="'Inicio'"></app-titulo-seccion>
    <mat-card class="tarjeta">
      <mat-card-header>
        <mat-card-title>Actions Buttons</mat-card-title>
        <mat-card-subtitle>End</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
<!-- 
  <app-chatbot *ngIf="chatbot.isFullSize"></app-chatbot>
  <button *ngIf="!chatbot.isFullSize" (click)="toggleChat()">Abrir Chat</button> -->

  <!-- <app-btn-chatbot></app-btn-chatbot> -->
  
  <!-- <app-chatbot></app-chatbot> -->

  
  
</app-sidebar>



<app-footer></app-footer>
