

:root{
    --fuenteTitulos: "Anta", sans-serif;
    --fuentePrimaria: "Oswald", sans-serif;
    --fuenteSecundaria: "Merriweather", serif;
    --fuenteGenerica: "Montserrat", sans-serif;
    --fuentePlaceholder: "Barlow Condensed", sans-serif;
}
html, body { 
    height: 100%;
}

body{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-container{
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    -webkit-box-shadow: 6px 5px 26px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 5px 26px -1px rgba(0,0,0,0.75);
    box-shadow: 6px 5px 26px -1px rgba(0,0,0,0.75);
    margin: 2rem 0 10rem 0;
    width: 80%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    margin-top: 10%;
}
.card-container{
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    -webkit-box-shadow: 6px 5px 26px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 5px 26px -1px rgba(0,0,0,0.75);
    box-shadow: 6px 5px 26px -1px rgba(0,0,0,0.75);
    margin: 2rem 0 10rem 0;
    width: 80%;
}
.card-body{
    display: flex;
    flex-direction: column;
    width: 95%;
}
.card-title{
    font-family: var(--fuentePrimaria);
    font-size: 5rem;
}
.input-container{
    display: flex;
    justify-content: center;   
}
.input {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    padding-left: 1rem;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    background-color: #f8fafc;
    color: #0d0c22;
    transition: .5s ease;
    -webkit-box-shadow: 5px 1px 25px -9px rgba(17,17,33,1);
    -moz-box-shadow: 5px 1px 25px -9px rgba(17,17,33,1);
    box-shadow: 5px 1px 25px -9px rgba(17,17,33,1);   
  }
input::placeholder{
    font-family: var(--fuentePlaceholder);
    color: #94a3b8;
}
.input:focus, input:hover{
    outline: none;
}
.group {
    display: flex;
    line-height: 30px;
    align-items: center;
    position: relative;
    width: 90%;
}
.botones{
    margin-top: 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.botones p{
    font-family: var(--fuenteGenerica);
    margin-bottom: 1rem;
}
.obligatorio{
    color: red;
    font-weight: bold;
}

@media(min-width: 400px){
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    .card-container{
        align-items: center;
        width: 80%;
    }
    .card-title{
        font-size: 3rem;
    }
    .img-login{
        width: 30%;
    } 
         
}
@media(min-width: 800px){
    .card-container{
        align-items: center;
        margin: 2rem 0 5rem;
        width: 50%;
    }
}

/* Sidebar */
.contenedor{
    width: 100%;
    border-radius: 1rem;
    padding: 0;
}
.title-section{
    background-color: #b02121;
}



/* Notificaciones */

.mat-mdc-snack-bar-container .mdc-snackbar__surface{
    background-color: unset !important;
}
.mat-mdc-snack-bar-container .mdc-snackbar__label{
    font-size: unset !important;
    font-family: unset !important;
}
.notifError, .notifExito{
    font-size: 1.2rem;
    font-family: var(--fuentePlaceholder); 
}
.notifError{
    background-color: #be3940 !important;    
}
.notifExito{
    background-color: #39be3b !important;
}

 .mdc-button__label{
    color: #e9f0ea;
    font-family: var(--fuentePrimaria);
    font-size: 1.2rem;
}

/* .mdc-button__label{
    color: #35cc49;
} */