<app-navbar></app-navbar>

<app-sidebar>
  <div class="contenedor">
      <app-titulo-seccion [title]="'Panel Administrador'"></app-titulo-seccion>
    <mat-card class="tarjeta">
      <div>
        <h3 class="tituloPanel">Bienvenido al Panel de Administrador <span>{{adminUser}}</span></h3>
        <p class="descPanel">Dentro de este panel podras acceder a algunas incidencias de usuarios y a tratar temas con organizaciones, desde su alta en la plataforma hasta la vinculación entre estas y los usuarios</p>
      </div>          
    </mat-card>
    <div class="contPanel">
        <div class="row">
            <div class="col-lg-6 col-md-12 contColumna">
                <h3 class="titulo">Agregar Organización</h3>
                <form class="form">
                   <p class="message">Ingresa los datos de la organización/empresa para registrala.</p> 
                    <label>
                        <input class="input" type="text" placeholder="" required="">
                        <span>Nombre</span>
                    </label>            
                    <label>
                        <input class="input" type="text" placeholder="" required="">
                        <span>Razón Social</span>
                    </label>
                    <div class="radioGroup">
                        <span class="sectorLabel">Sector</span>
                        <div class="opciones">
                            <label class="radio-button">
                                <input type="radio" name="example-radio" value="publico">
                                <span class="radio">Público</span>                            
                            </label>
                              
                            <label class="radio-button">
                                <input type="radio" name="example-radio" value="privado">
                                <span class="radio">Privado</span>
                            </label>
                        </div>                        
                    </div>
                    <label>
                        <input class="input" type="text" placeholder="" required="">
                        <span>RFC</span>
                    </label>
                    <label>
                        <input class="input" type="text" placeholder="" required="">
                        <span>Dirección</span>
                    </label>
                    <label>
                        <input class="input" type="text" placeholder="" required="">
                        <span>Teléfono</span>
                    </label>                            
                    <label>
                        <input class="input" type="email" placeholder="" required="">
                        <span>Email</span>
                    </label>                        
                    <label>
                        <input class="input" type="password" placeholder="" required="">
                        <span>Contraseña</span>
                    </label>
                    <label>
                        <input class="input" type="password" placeholder="" required="">
                        <span>Confirma la contraseña</span>
                    </label>
                    <button class="submit">Registrar</button>
                </form>
            </div>
            <div class="col-lg-6 col-md-12 contColumna">
                <h3 class="titulo">Revisar Incidencias</h3>
                <div class="contIncidencias">
                    <p>Aqui puedes revisar reportes, solicitudes o preguntas de los usuarios</p>
                    <p>Selecciona cual revisar</p>
                    <select [(ngModel)]="opcionSeleccionada">
                        <option value="" disabled>--Selecciona--</option>
                        <option value="Reportes" selected>Reportes</option>
                        <option value="Solicitudes">Solicitudes</option>
                    </select>

                    <div class="contTablaIncidencias" [ngSwitch]="opcionSeleccionada">
                        <app-reportes *ngSwitchCase="'Reportes'"></app-reportes>
                        <app-solicitudes *ngSwitchCase="'Solicitudes'"></app-solicitudes>

                    </div>


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 colUsuarios">
                <h3 class="tituloUsuarios">Gestión de Usuarios</h3>
                <div class="contTablaUsuarios">
                    <app-usuarios></app-usuarios>

                </div>
            </div>
        </div>
    </div>    
  </div>  
</app-sidebar>



<!-- <app-footer></app-footer> -->
