.tarjeta{
    -webkit-box-shadow: 5px 3px 16px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 3px 16px -3px rgba(0,0,0,0.75);
box-shadow: 5px 3px 16px -3px rgba(0,0,0,0.75);
}
.tituloPanel, .descPanel{
    font-family: var(--fuenteGenerica);
    text-align: center;
}
.tituloPanel{
    font-size: 1.2rem;
    font-weight: bold;
}
.tituloPanel span{
    display: block;
    font-style: italic;
    color: #00bfff;
    text-shadow: 2px 2px 4px rgba(149, 149, 149, 0.5);
    text-transform: uppercase;

}
.descPanel{
    font-size: 0.9rem;
}
.contPanel{
    background-color: aliceblue;
    padding: 1rem;
    width: 100%;
    margin: 1rem auto;
    border-radius: 10px;
    gap: 1rem;
    -webkit-box-shadow: 2px 3px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 14px 0px rgba(0,0,0,0.75);
}

.contColumna{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    font-size: 1rem;
    font-family: var(--fuentePrimaria);
    align-items: start;
    text-align: center;
}
@media(min-width: 900px){
    .tituloPanel{
        font-size: 1.4rem;
        font-weight: bold;
    }
    .descPanel{
        font-size: 1rem;
    }
    .contColumna{
        position: relative;
    }
    .contColumna:first-child{
        border-right: 2px solid #e0e0e0;
    }
    .titulo{
        font-size: 1.2rem;
        position: absolute;
        top: 0;
    }    
}


.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    /* background-color: #1a1a1a; */
    margin-top: 1rem;
    color: #000000;
    /* border: 1px solid #333; */
  }
  
.title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00bfff;
}
  
.title::before {
    width: 18px;
    height: 18px;
}
  
.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}
  
.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
}
  
.message{
    font-size: 14.5px;
    font-family: var(--fuentePrimaria);
    color: rgba(17, 17, 17, 0.7);
    text-align: center;
}
  
  
.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}
  
.form label {
    position: relative;
    font-family: var(--fuentePrimaria);

}
  
.form label .input {
   background-color: #5a8aaa;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}
  
.form label .input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}
  
.form label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
}
  
.form label .input:focus + span,
.form label .input:valid + span {
    color: #191919;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
}
  
.input {
    font-size: medium;
}
  
.submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #00bfff;
}
  
.submit:hover {
    background-color: #00bfff96;
}
.radioGroup{
    display: flex;
    flex-direction: column;
    background-color: #5a8aaa;
    border-radius: 10px;
    padding: 5px 05px 05px 10px;
    -webkit-box-shadow: 2px 3px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 14px 0px rgba(0,0,0,0.75);
}
.opciones{
    display: flex;
}
.radioGroup .sectorLabel{
    font-family: var(--fuentePrimaria);
    font-size: 0.9em;
}
.radio-button label{
    background-color: #e0e0e0;
}
.radio-button input{
    margin: 1rem 0.2rem 1rem 1rem;
}
.contColumna:nth-child(2){
    border-top: 2px solid #e0e0e0;
}
.colUsuarios{
    border-top: 2px solid #e0e0e0;
}
.tituloUsuarios{
    font-size: 1rem;
    font-family: var(--fuentePrimaria);
    align-items: start;
    text-align: center;
}


@media(min-width: 900px){
    .coLUsuarios{
        border-top: 2px solid #e0e0e0;
        margin-top: 1rem;
        padding: 1rem;
    }
    .contColumna:nth-child(2){
        border: none;
        
    }
}
.contIncidencias{
    margin-bottom: 1rem ;
}
.contIncidencias select{
    margin-bottom: 1rem;
}
