
.titulo-seccion{
    display: inline-block;
    font-family: var(--fuenteGenerica);
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    text-align: start;
    /* background-color: rgb(230, 92, 92); */
    padding: 0.5rem;
    width: 100%;
    /* border-radius: 1rem; */
    /* text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);  */
    /* -webkit-box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75); */
}

hr{
    width: 100%;
    -webkit-box-shadow: 3px 6px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 6px 19px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 6px 19px 0px rgba(0,0,0,0.75);
    /* margin: 0; */
}
