<footer class="footer-body">
    <div class="row">
        <div class="col-sm-12 col-md-6 columna">
            <!-- <img class="logo-footer" src="../../../assets/ipn.png" alt="logo ipn"> -->
            <!-- <img class="logo-footer" src="../../../assets/EscudoESCOM.png" alt="logo escom"> -->
            <h5 class="titulo">2024 Derechos reservados Escom&reg;</h5>
        </div>    
        <div class="col-sm-12 col-md-6 columna">
            <h3 class="titulo2"> TT 2024-A134 </h3>                      

        </div>
    </div>            
</footer>
<!-- 
<footer>
    <p>&copy; 2024 - Todos los derechos reservados</p>
    <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Aviso legal</a></li>
    </ul>
</footer> -->