<app-navbar></app-navbar>

<app-sidebar>
  <div class="contenedor">
    <app-titulo-seccion [title]="'Contacto'"></app-titulo-seccion>

    <div class="contRegresar">
        <app-btnregresarportal routerLink="/contacto"></app-btnregresarportal>
    </div>

    
    <mat-card class="tarjeta">          
        <div class="headerCard">
            <h5>Formulario de Contacto</h5>
            <p>Llena este formulario y te atenderemos lo más pronto posible</p>
        </div>  
        
        <form class="contForm">
            <div class="filaEntrada">
                <div class="contLabel">
                    <label for="dirigido">Dirigido a</label>
                </div>
                <select name="dirigido" id="dirigido">
                    <option disabled selected>--Seleccionar--</option>
                    <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
                </select>                     
            </div>
            <div class="filaEntrada">
                <div class="contLabel">
                    <label for="dirigido">Asunto</label>
                </div>
                <input type="text" name="text" class="input" placeholder="Ingresa el asunto...">             
            </div>
            <div class="filaEntrada">
                <div class="contLabel">
                    <label for="dirigido">Mensaje</label>
                </div>
                <textarea name="mensaje" id="mensaje" placeholder="Escribe tu mensaje..."></textarea>                   
            </div>

        </form>
        
            
    </mat-card>

    <div class="botones">
        <button>
            <span class="transition"></span>
            <span class="gradient"></span>
            <span class="label">Enviar</span>
        </button>
    </div>
  
  </div>
</app-sidebar>


