<div class="login-body">
    <div class="container">
      <app-titulo></app-titulo>
        <div class="card-container">
            <div class="card-body">
              <h5 class="card-title">Recupera tu contraseña</h5>
              <hr>
              <div class="parrafo">
                <p>Oops parece que no recuerdas tu contraseña</p>
                <p>Ingresa tu correo electrónico que registraste o tu nombre de usuario</p>
              </div>
              <div class="mb-2 input-container">
                <input type="email" name="text" class="input" placeholder="Correo o nombre de usuario" [(ngModel)]="email">
              </div>
              <div class="botones">
                <app-enviar routerLink="/login" (click)="sendMail()"></app-enviar>
                <app-btn-regresar routerLink="/login"></app-btn-regresar>                
              </div>             
            </div>
        </div>       
    </div>   
    <app-footer></app-footer> 
</div>


