
/* Inputs */
.input {
  width: 90%;
  color: #fff;
  background-color: rgb(28,28,30);
  box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
  border-radius: 0.4vw;
  border: none;
  padding: 1vw;    
  transition: .4s;
  margin-bottom: 0;
}  
input::placeholder{
  padding: 0vw;
  color: #e2e6ec;
}
.input:hover {
  box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}
.input:focus {
  box-shadow: 0 0 0 .15vw skyblue;
}
.parrafo p{
  font-family: var(--fuenteGenerica);
}
.card-title{
  font-family: var(--fuentePrimaria);
  font-size: 1rem;
  line-height: 1;
}

@media(min-width: 300px){    
    .botones{    
      padding: 0;
      display: flex;
      flex-direction: row;
      /* margin-top: 1rem; */
      justify-content: space-around;
    }
    .card-container{
        align-items: center;
        width: 80%;
    }
    .img-login{
        width: 30%;
    }      
}

@media(min-width: 1000px){
    .card-container{
        align-items: center;
        /* border: 1px solid #000; */
        width: 40%;
    }
    .card-title{
      font-size: 2rem;
    }
}