

<div class="menuRecursosResponsive">
    <select (change)="navigate($event)">
        <option value="/recursos">Videos</option>
        <option value="/recursos/articulos">Artículos</option>
        <option value="/recursos/organizaciones">Organizaciones</option>
        <option value="/recursos/apps">Aplicaciones</option>
        <option value="/recursos/legal">Info Legal</option>
    </select>
    
</div>

<div class="menuRecursos">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle class="opcion" value="videos" [routerLink]="'/recursos'" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">Videos</mat-button-toggle>
        <mat-button-toggle class="opcion" value="articulos" [routerLink]="'/recursos/articulos'" routerLinkActive="selected">Artículos</mat-button-toggle>
        <mat-button-toggle class="opcion" value="organizaciones" [routerLink]="'/recursos/organizaciones'" routerLinkActive="selected">Organizaciones </mat-button-toggle>
        <mat-button-toggle class="opcion" value="aplicaciones" [routerLink]="'/recursos/apps'" routerLinkActive="selected">Aplicaciones</mat-button-toggle>
        <mat-button-toggle class="opcion" value="legal" [routerLink]="'/recursos/legal'" routerLinkActive="selected">Info Legal</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
