<div class="login-body">
    <div class="contenedor" >
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title class="titleAviso">Aviso de Privacidad</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p class="introAviso">En [Nombre de la Red Social], nos preocupamos por tu privacidad y nos comprometemos a proteger tus datos personales. A continuación, te proporcionamos información sobre cómo recopilamos, utilizamos y protegemos tus datos:</p>
                <div class="contAviso">                    
                    <div class="row">
                        <ol class="col-lg-6 col-md-12">
                            <li><span>Datos recopilados: </span> Recopilamos información que proporcionas al crear una cuenta, como tu nombre, dirección de correo electrónico, fecha de nacimiento y ubicación. También recopilamos datos de uso, como tus interacciones con publicaciones, mensajes y anuncios.</li>
                            <li><span>Uso de los datos:</span> Utilizamos tus datos personales para proporcionarte una experiencia personalizada en la plataforma, incluyendo recomendaciones de contenido, publicidad relevante y funciones sociales. También utilizamos tus datos para mejorar nuestros servicios y prevenir actividades fraudulentas o abusivas.</li>
                            <li><span>Compartir de los datos:</span> No compartimos tus datos personales con terceros sin tu consentimiento, excepto cuando sea necesario para proporcionar nuestros servicios, cumplir con la ley o proteger nuestros derechos y los derechos de nuestros usuarios.</li>
                        </ol>
                        <ol start="4" class="col-lg-6 col-md-12">
                            <li><span>Protección de los datos:</span> Implementamos medidas de seguridad técnicas y organizativas para proteger tus datos personales contra el acceso no autorizado, la pérdida y el uso indebido. También te proporcionamos herramientas para controlar la privacidad de tu cuenta y la visibilidad de tu información.</li>
                            <li><span>Derechos del usuario:</span> Tienes derecho a acceder, rectificar, cancelar u oponerte al uso de tus datos personales. Puedes ejercer estos derechos a través de la configuración de privacidad de tu cuenta o contactando con nuestro equipo de soporte.</li>     
                            <li>Al utilizar nuestros servicios, aceptas nuestro uso de tus datos personales de acuerdo con este aviso de privacidad. Si tienes alguna pregunta o inquietud sobre nuestro manejo de tus datos, no dudes en ponerte en contacto con nosotros.</li>                       
                        </ol>                        
                    </div>   
                                                 
                    <span class="spanAviso">Fecha de última actualización: 02 de Mayo de 2024</span>
                </div>                      
            </mat-card-content>
            <mat-card-footer class="contBtn">
                <button routerLink="/signin" class="btnRegresar" >Regresar</button>
            </mat-card-footer>
          </mat-card>           
    </div>        
    <app-footer></app-footer> 
</div>


