<footer class="footer-body">    
    <div class="logos">
        <a href="https://www.ipn.mx/"><img class="logo-footerIPN" src="../../../assets/ipn.png" alt="logo ipn" href="https://www.escom.ipn.mx/"></a>
        <a href="https://www.escom.ipn.mx/"><img class="logo-footerESCOM" src="../../../assets/EscudoESCOM.png" alt="logo escom"></a>
    </div>
    <div class="row">
        <div class="columna">            
            <h3>2024 Derechos reservados Escom&reg;</h3>
            <h5> TT 2024-A134 </h5> 
        </div>    
    </div>            
</footer>